* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    height: 100vh;
    display: flex; /* para deixar centralizado */
    background-color: #cacecd;
  }

  .memory-game{

    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-top: 4px;
  }

  .front-face{
    width: 100%;
    height: 100%;
    padding: absolute;
    border-radius: 5px;
    background: #2c4e69;
  }

  .front-face{
    width: 100%;
    height: 100%;
    padding: absolute;
    border-radius: 5px;
    background: #2c4e69;
  }